* {
    
}

body {
    background: #80a177;
    
}
#imginicial{
    width: 100%;
    
  }

h1{
    margin-top: 15px;
    margin-left: 120px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}




textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    font-size: 16px;
    resize: none;
    display: block;
    
    
  }
 button{
    margin: 20px;
    border-radius: 15px;
    background-color: rgb(159, 218, 210);
    color: rgb(0, 0, 0);
    font-size: 14px;
 }
 button:hover{
    background-color: rgb(165, 85, 85);
    color: rgb(255, 255, 255);
    font-size: 16px;
    }
  footer{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-left: -1%;
    margin-bottom: -2%;
    margin-right: 0%;
    background:linear-gradient(#80a177,#77a19b)  ;
  }
  a{
    font-style: normal;
    color: #000;
    text-decoration: none;
    font-size: small;
    display: block;
  }
  a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: medium;
  }